<div class="row">
    <div class="col">
        <h2>
            Ideal Path
        </h2>
    </div>
    <div class="col">
        <h2>
            Newly generated path
        </h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <canvas #canvas (click)="addPoint($event)" height="250"></canvas>
    </div>
    <div class="col">
        <canvas #canvasCopy height="250"></canvas>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col">
        <div class="tag">Random Point</div>
        <input [(ngModel)]="rndPointsCheck" type="checkbox" id="random-check" class="random-checkbox" />
        <label for="random-check" class="check-label" (click)="resetAll()"></label>
    </div>
</div>

<div [@showRandomPoints]="rndPointsCheck ? 'show' : 'hide'">
    <div class="row"></div>

    <div class="row">
        <div class="col">
            <div class="input-form">
                <div class="inputs">
                    <input [(ngModel)]="rndPoints" class="textinput" min="3" max="30" value={{rndPoints}} />
                    <input [(ngModel)]="rndPoints" class="rangeinput" type="range" min="3" max="30" step="1"
                        value={{rndPoints}} />
                </div>
                <label class="label-text">
                    <span class="span-text">Number of points:</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col">
        <div class="input-form">
            <div class="inputs">
                <input [(ngModel)]="temprature" class="textinput" min="10" max="5000" value={{temprature}} />
                <input [(ngModel)]="temprature" class="rangeinput" type="range" min="10" max="5000" step="1"
                    value={{temprature}} />
            </div>
            <label class="label-text">
                <span class="span-text">Temprature:</span>
            </label>
        </div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col">
        <div class="input-form">
            <div class="inputs">
                <input [(ngModel)]="alpha" class="textinput" min="0.9000" max="0.9999" value={{alpha}} />
                <input [(ngModel)]="alpha" class="rangeinput" type="range" min="0.9000" max="0.9999" step="0.0001"
                    value={{alpha}} />
            </div>
            <label class="label-text">
                <span class="span-text">Alpha:</span>
            </label>
        </div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col">
        <div class="input-form">
            <div class="inputs">
                <input [(ngModel)]="iterations" class="textinput" min="10" max="50000" value={{iterations}} />
                <input [(ngModel)]="iterations" class="rangeinput" type="range" min="10" max="50000" step="1"
                    value={{iterations}} />
            </div>
            <label class="label-text">
                <span class="span-text">Iterations:</span>
            </label>
        </div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col">
        <button (click)="resetAll()">Reset!</button>
    </div>
    <div class="col">
        <button (click)="runButtonFunction()">{{buttonText}}</button>
    </div>
</div>