.form {
    background-color: #F1F5F2;
    height: 100%;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 5vh;
    padding-bottom: 20vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}