h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 20px;
}

.col {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: grey; */
    height: 100%;
}

button {
    border-radius: 10px;
    border: 2px solid #415A77;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease;
    width: 200px;
    height: 50px;
}

button:hover {
    background-color: #415A77;
    color: #F1F5F2;
    letter-spacing: 5px;
    width: 230px;
}

/* For inputs only */

.tag {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.check-label {
    display: inline;
}

.random-checkbox {
    display: none;
}

.random-checkbox+.check-label {
    margin-left: 10px;
    background-color: white;
	border: 2px solid #415A77;
	padding: 11px;
	border-radius: 5px;
	display: inline-block;
    position: relative;
    transition: 0.3s ease;
}

.random-checkbox:checked+.check-label {
    background-color: #415A77;
    border: 2px solid #415A77;
}

.random-checkbox:checked+.check-label:after {
    content: "X";
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0px;
    left: 5px;
    color: #F1F5F2;
}

/*  */

.input-form {
    position: relative;
    border-radius: 5px;
    /* background-color: #EBF2FA; */
    /* border: 1px solid #B47978; */
    width: 500px;
    height: 50px;
    padding: 10px;
}

.inputs {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 35px;
    position: absolute;
    width: 100%;
}

.rangeinput {
    position: absolute;
    margin-left: 25%;
    width: 70%;
    -webkit-appearance: none;
    background: #d3d3d3;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    border-radius: 10px;
}

.rangeinput:hover {
    opacity: 1;
}

.rangeinput::-webkit-slider-thumb {
    background: #415A77;
    border: 1px solid #415A77;
    width: 20px;
    height: 15px;
    border-radius: 100px;
}

.rangeinput::-moz-range-thumb {
    background: #415A77;
    border: 1px solid #415A77;
    width: 20px;
    height: 15px;
    border-radius: 100px;
}

.textinput {
    position: absolute;
    border-style: none;
    border-bottom: 1px solid #B47978;
    text-align: center;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #F1F5F2;
    border-radius: 2px;
}

.label-text {
    position: absolute;
    margin: auto;
    letter-spacing: 0.25vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}